*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
}

html,body{
	height: 100%;
}

.container{
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 2%;
}

.clear{
	clear: both;
}

.flex{
	flex-wrap: wrap;
	display: flex;
}

header{
  z-index: 2;
	border-bottom: 2px solid #303030;
 	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	max-width: 100%;
	padding: 15px 0;
	background-color: #222422;
}

header > .container{
	max-width: 1366px;
}

.logo{
	float: left;
	width: 20%;

}

 .contato{
 	float: left;
 	width: 80%;
 	color: white;
 	margin-top: 30px;
   }

  .contato-wraper{
  	float: right;
  }

   .contato-single{
 	float: left;
 	margin:0px 10px;
 }

 .contato-title{
 	float: left;
 	margin-right: 15px;
 }

 .contato-title h2{
 	font-weight: lighter;
 	font-size: 16px;
 }


 .contato-single p{
 	font-size: 14px;
 	margin-left: 8px;
  }

  .menu-mobile{
  	cursor: pointer;
  	margin-left: 10px;
  }

  .janela-menu{
  	display: none;
  	-webkit-box-shadow: 3px 3px 5px 0px rgba(9, 50, 50, 0.89);
   -moz-box-shadow:  3px 3px 5px 0px rgba(9, 50, 50, 0.89); 
    box-shadow: 3px 3px 5px 0px rgba(9, 50, 50, 0.89);
  	width: 100%;
  	height: 100%;
  	position: fixed;
  	left: 0;
  	top: 0;
  	max-width: 250px;
  	background-color: white;
  	padding: 60px 0px;

  }

  nav{
  	width: 100%;
  }

  .janela-menu ul{
  	list-style-type: none;
  }

  .janela-menu ul li{
  	width: 100%;
  	padding: 10px 30px;
  }

  .janela-menu ul li:hover{
  	background-color: #edc411;
  }

  .janela-menu a{
  	font-size: 23px;
  	color: #222422;
  	text-decoration: none;
  }

  /*------Aqui termina a sessao header-------*/

  /*------Sessão de banner------*/

  section.banner{
  	padding: 60px 0;
  	margin-top: 97px;
   	width: 100%;
   	background-color: #222422;
  }

  section.banner .container{
  	width: 100%;
  }

  .banner .title-banner{
  	width: 50%;
   	color: white;
  	padding: 40px 8%;
    }

    .title-banner h2{
       font-size: 35px;
    }

    .title-banner p{
    	padding: 10px 0;
    	max-width: 500px;
    	font-size: 20px;
    	margin-bottom: 14px;
    }

    .banner .botao-banner{
        font-size: 21px;
        padding: 6px;
        border:1px solid white;
        color: white;
        text-decoration: none;
     }

     .banner .img-banner{
     	padding: 90px;
      	width: 50%;
     	height: 500px;
      	background-image: url('burger_slide.png');
     	background-size: contain;
     	background-position: center;
     	background-repeat: no-repeat;
     }

     /*---------*/

     /*---Sessao de receitas----*/

     section.sessao-receitas{
     	border-top: 2px solid #303030;
     	width: 100%;
     	padding: 20px 0;
     	background-color: #222422;
		-webkit-box-shadow: -1px -3px 3px 0px rgba(0, 0, 0, 0.64);
		-moz-box-shadow: -1px -3px 3px 0px rgba(0, 0, 0, 0.64);
		box-shadow: -1px -3px 3px 0px rgba(0, 0, 0, 0.64);
     }

     .title-receita h2{
     	padding: 30px;
     	font-size: 35px;
     	color: white;

     }

     .receitas{
     	width: 100%;
     }

     .receitas-single{
     	width: 20%;
     	text-align: center;
     }

     .receitas-single img{
     	max-width: 100%;
     }

     .receitas-single h2{
     	font-weight: lighter;
     	margin-top: 15px;
     	color: white;
     }

     .receitas-single h3{
     	font-weight: lighter;
     	margin: 15px 0;
     	color: #edc411;
     }


     /*-----------*/

     /*-----Sessao sobre do meu site-----*/

     section.sobre{
       width: 100%;
       padding: 50px 0;
     }

     .sobre .header-sobre{
        width: 100%;
        text-align: center;
     }

     .header-sobre img{
      max-width: 100%;
     }

     .header-sobre h2{
      font-size: 35px;
     }

     .header-sobre p{
      font-size: 20px;
      margin-top: 10px;
     }

     .content-sobre{ 
        margin-top: 40px;
     }

    .text-sobre{
      width: 40%;
      background-color: #222422;
      color: white;
      padding: 40px 30px;
      margin: 0 auto;
    }

    .text-sobre h2{
      margin-bottom: 20px;
      font-size: 30px;
    }

    .text-sobre p{
      max-width: 400px;
      margin-bottom: 20px;
      line-height: 30px;
    }

    .img-sobre{
      position: relative;
      width: 50%;

     }

    .box-yellow{
      position: absolute;
      left: 15%;
      top: 20%;
      width: 70%;
      background-color: #edc411;
      height: 400px;

     }

     .box-img-sobre{
       width: 70%;
       height: 200px;
       background-image: url('about-img.jpg');
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
       position: absolute;
       left: 20%;
       top: 35%;
       z-index: 1;

     }

     section.blog{
       padding: 50px 0;
      }

      .header-blog{
        text-align: center;
      }

      .header-blog img{
        max-width: 100%;
      }

      .header-blog h2{
        font-size: 30px;
        color: #222422;

      }

      .header-blog p{
        font-size: 20px;
        color: #222422;
      }

      .blog-single{
        margin-right: 10px;
        position: relative;
        border:1px solid #ccc;
        width: 30%;
        margin-top: 30px;

      }

      .img-blog{
        width: 100%;
        height: 300px;
        background-image: url('blog_img1.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom: 1px solid #ccc;
        -webkit-box-shadow: 0px 3px 5px 0px rgba(163, 163, 163, 0.75);
        -moz-box-shadow: 0px 3px 5px 0px rgba(163, 163, 163, 0.75);
        box-shadow: 0px 3px 5px 0px rgba(163, 163, 163, 0.75);
      }

      .data-blog{
        position: absolute;
        left: 0;
        top: 0;
        padding: 10px;
        background-color: #222422;
        color: white;
       }

       .text-blog{
        padding: 15px;
        text-align: justify;
        color: #222422;
       }
     
      .text-blog h2{
        margin-left: 10px;
        font-size: 25px;
        margin-bottom: 15px;

      }

      .text-blog p{
        line-height: 30px;
         font-size: 18px;
          margin: 0 auto;
          max-width: 320px;
      }

      /******Sessao de depoimentos*******/
     
     section.depoimento{
      padding: 30px 0;
      text-align: center;
     }

     .depoimento .container > h2{
       color: #222422;
      margin:30px 0;
      font-size: 40px;
     }

     .box-depoimento img{
      max-width: 100%;
     }

     .box-depoimento{
      border-radius: 20px;
      width: 100%;
      max-width: 500px;
      background-color: #222422;
      padding: 50px 30px;
      color: white;
      margin: 0 auto;
     }

     .box-depoimento p{
      margin: 15px 0;
      line-height: 30px;
      font-size: 18px;
      font-weight: bold;
     }

/*****Sessao de entre em contato*****/


    section.form-contato{
       width: 100%;
       padding: 90px 0;
       background-color: #edc411; 
    }
    .form-contato > .container{
      max-width: 1360px;
    }

    .form-contato h2{
      text-align: center;
      font-size: 30px;
      margin-bottom: 15px;
    }

     form{
      width: 30%;
      margin-left: 10%;
     }

     form input{
      width: 100%;
      max-width: 400px;
      display: block;
      margin: 15px 10px 15px 0;
      height: 50px;
      padding-left: 8px;
      font-size: 17px;
     }

     form textarea{
      width: 100%;
      max-width: 400px;
      resize: vertical;
      height: 120px;
      font-size: 17px;
      padding: 8px;
     }

     input[type=submit]{
        width: 100%;
        max-width: 160px;
        padding: 9px;
        font-size: 22px;
     }

     .img-form{
      width: 50%;
      height: 350px;
      background-image: url('img.jpg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      margin-left: 10px;

     }
 
     .logoForm{
      border-bottom: 1px solid white;
      text-align: center;
      width: 100%;
      padding-bottom: 20px;
       }

       .logoForm > .container{
        max-width: 1360px;
       }

      .logoForm img{
        max-width: 100%;
        margin-top: 20px;
       }

       /*****Rodapé do site******/
       footer{
        padding: 30px 0;
        text-align: center;
       }
       footer p{
        font-size: 22px;
        color: #222422;
       }

     /*********Design responsivo**********/

     @media screen and (max-width: 1000px){
     	.contato-single,.contato-title{display: none;} 
        section.banner .container{
        	flex-direction: column;
        }
         .title-banner{
         	width: 100% !important;
         	text-align: center;
          padding: 20px 0;
          }

          .title-banner p{
          	margin: 10px auto;
          	max-width: 550px;
          }
        .img-banner{
  			width: 100% !important;
        }

        .receitas-single{
        	width: 33.3%;
        }

        section.form-contato{
          padding: 50px 0;
        }

       form{
        width: 100%;
        margin-left: 0;
         }

     .form-contato h2{
         text-align: center;
         }
      

         form input{
          margin:15px auto;
          width: 100%;
           max-width: 400px;
          }

          form textarea{
             margin: 0 auto;
             display: block;
          }

          form input[type=submit]{
            margin: 15px auto;

          }

          .img-form{
            width: 100%;
            margin: 0 auto;
          }
     }

     @media screen and (max-width: 768px){
     	.receitas-single{
     		width: 50%;
     	}

      .content-sobre{
        flex-direction: column;
      }

      .text-sobre{
        margin: 0 auto;
        width: 80%;
        text-align: justify;
      }

      .text-sobre h2,.text-sobre h3{
        text-align: center;
      }

      .text-sobre p{
        margin: 0 auto;
      }

      .img-sobre{   
         width: 80%;
        margin: 20px auto;
        }

     .box-yellow{
      height: 190px;
      position: static;
      margin: 0 auto;
     }
       .box-img-sobre{
           left: 10%;
           top: 20%;
       }

       .blog-single{
        width: 48%;
        }
     }



     @media screen and (max-width: 500px){
     	.receitas-single{
     		width: 100%;
     	}

      .text-sobre{
        width: 100%;
      }

      .img-sobre{
         width: 100%;
      }

       .blog-single{
        width: 100%;
        }
     }

